{# (couche 3) #}

{% extends "PWQCMBundle::layout.html.twig" %}

{% block title %}
	Accueil - {{ parent() }}
{% endblock %}

{% block title2 %}Gestion des QCM{% endblock %}

{% block body %}

	<ul>
	{% for qcm in listQcm %}
		<li>
			<a href="{{ path('pw_qcm_view', {'id': qcm.id}) }}">
				{{ qcm.enonce }}
			</a>
			le {{ qcm.date|date('d/m/Y') }}
		</li>
	{% else %}
		<li>Pas encore de qcm</li>
	{% endfor %}
	</ul>
	
{% endblock %}